*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Poppins',sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* utility classes */

.small-text{
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.container{
    max-width: 1080px;
    margin-inline: auto;
}

/* top-banner */

.top-banner{
    background-color: rgb(6, 156, 183);
    text-align: center;
    padding: 15px 30px;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo>img{
    width: 200px;
}

.nav-link>ul{
    justify-content: flex-end;
    gap: 40px;
}
